body {
	width: auto;
	border-top: solid 1px #8e8e8e;
	background-image: url(../images/bkgrnd.jpg);
	height: 100%;
	font-size: 24px;
	position: relative;
	font-family: Georgia, "Times New Roman", Times, serif;

}
form {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	}	
h1{
	background-image:url(../images/hdr.png);
	height: auto;
	}
h2{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #DEDECA;
	position: relative;
	}
h3 {
	color: #5EDEFF;
	position: relative;
	}

input {	
	font-family: Helvetica, Arial, sans-serif ;	
	font-size: 1em;
	color: #000000;
	}
li {	
	font-family: Helvetica, Arial, sans-serif;	
	font-size: 1em;
	color: #000000;
	}
select {	
	font-family: Helvetica, Arial, sans-serif;	
	font-size: 1em
	}
td, th {	
	font-family: Helvetica, Arial, sans-serif;	
	font-size: 1em
	}
textarea {
	font-family: Helvetica, Arial, sans-serif;	
	font-size: 1em
	}
ul {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	list-style-type: none;
	list-style-position: outside
	}
.DataColor {
	color: #DEDECA
	}
.legend {	
	font-family: "Helvetica, Arial, sans-serif";	
	font-size: .75em;	
	color: #CCCCCC
	}
.span {
	color: #000000;
	}
a:link {
	font-size: 1em;
	color: #f1f69e;
	}
a:visited {
	font-size: 1.1em;
	color: #ccff33;
	}
body,td,th {
	font-family: "Helvetica, Arial, sans-serif";
	font-size: 1em;
	position: relative;
	}




